
[
  {emq_presence_redis, [
    {redis_pool,[%% Pool Size
      {pool_size, 10},
      %% Pool Type: round_robin | random | hash
      {pool_type, round_robin},
      %% Auto reconnect
      {auto_reconnect, 3},

      %% epgsql opts
      {host, "localhost"},
      {port, 7002},
      {password, "myredis"},
      {database, 0}
    ]},

    {connected,[
      %% key prefix
      {key_prefix,"ANKER:DEVICE:CONNECTED:~p"},
      %% key expire
      {expire,60000}
    ]}
  ]}
].

